.widget-container {
    padding: 40px 0;
}
.widget-round {
    display: flex;
    justify-content: center;

    .widget-round-item {
        width: 28% ;
        margin: 0 15px;
        text-align: center;

        h3 {
            margin-top: 30px;
        }

        p {
            max-width: 270px;
            margin: 0 auto;
        }

        img {
            max-width:180px;
            width: 100%;
        }
    }
}
.border-line {
    width: 60%;
    height: 3px;
    background-color: rgb(104,81,66);
    margin: 60px auto ;
}

.widget-square {
    display: flex;
    justify-content: center;
    

    .widget-square-item {
        position: relative;
        width: 25%;
        margin:0 10px;
        height: 280px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size:cover;

        @for $i from 1 through 4{
            &:nth-child(#{$i}){
                background-image: url('../../assets/image/heightlight-desktop-#{$i}.png')
            }
        }

        .info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            text-align:center;
            padding:10px 15px 5px 20px;
            color: #fff;
            background-color: rgba(95, 58, 22, .75);

            h3 {
                margin:10px 0
            }

            p {
                margin-bottom: 10px
            }
        }
    }

}
@media screen and (max-width:576px) {

    .widget-round {
        .widget-round-item {
            h3 {
                font-size: 1.2rem;
                margin-top: 30px;
            }
    
            p {
                max-width: 270px;
                margin: 0 auto;
            }
        }
    }

    .widget-square {
        flex-direction: column;

        .widget-square-item {
            height: 200px;
            width: 100%;
            margin: 0 ;
            margin-bottom: 20px;

            @for $i from 1 through 4{
                &:nth-child(#{$i}){
                    background-image: url('../../assets/image/heightlight-mobile-#{$i}.png')
                }
            }

        }
    }
    .border-line {
        margin: 30px auto 40px auto ;
    }
}