.mobile-nav {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 80px;
    background-color: rgb(234,234,234);

    .nav-btn > button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border:none;
        outline: none;
        border-radius: 50%;
        background-color: #000;

        & > span {
            display: block;
            width: 80%;
            height: 4px;
            border-radius: 3px;
            background-color: #fff;

            &:first-child ,
            &:nth-child(2) 
            {
                margin-bottom: 5px;
            }

        }
    }

    .mobile-menu {
        position: absolute;
        display:none;
        top: 100%;
        left: 0;
        z-index: 4;
        width: 80%;
        padding:35px 40px;
        font-weight: 600;
        font-size: 1.2rem;
        background-color: #fff;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,.3);

        &.active {
            display:block
        }

        ul:nth-child(1) > li {
            margin-bottom: 10px;
        }

        .separate-line {
            width: 100%;
            height: 1px;
            background-color: #999;
            margin: 20px 0;
        }

        ul:nth-child(3) > li {
            margin-bottom: 5px;
        }

        .btn {
            position: absolute;
            top: 10px;
            right: 10px;

            .close-btn {
                font-size: 2.5rem;
            }
        }
    }

    & > .logo {
        width: 110px;
        & > img {
            width: 100%;
        } 
    }

}

.shipping-info {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background-color: rgb(82,80,80);
    text-align:center
}

@media screen and (min-width:576px) {
    .mobile-nav {
        display: none;
    }

    .shipping-info {
        display: none;
    }
}