.slider-container {
    position: relative;

    .carousel-item > img{
        height: 800px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        opacity: 1;
    }

    span.carousel-control-prev-icon  ,
    span.carousel-control-next-icon {
        width: 30px;
        height: 30px;
    }

    span.carousel-control-prev-icon {
        background-image: url('../../assets/image/carousel-left.png');
        margin-left: -80px;
    }

    span.carousel-control-next-icon{
        background-image: url('../../assets/image/carousel-right.png');

        margin-right: -80px;
    }

    div.carousel-caption {
        z-index : 1;
        bottom: 100px;
        right: 80px;
        left: auto;
    
        h3 {
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
        } 
        
        p {
            font-size: 26px;
            font-family: 'Times New Roman', Times, serif;
        }

        button {
            float: left;
            outline: none;
            border: none;
            padding: 10px 35px;
            margin-left: 5px;
            color: #fff;
            background-color: rgb(183,183,183);
        }
    }
}

@media screen and (max-width:576px) {

    .slider-container {
        .carousel-item > img{
            height: 350px;
        }
        div.carousel-caption {
            display: flex;
            flex-direction: column;
            align-items: center;
            top:50%;
            left:50%;
            bottom:auto;
            right:auto;
            width: 100%;
            padding:0 20px;
            transform:translate(-50%,-50%);
            line-height: 1;

            h3 {
                font-size: 35px;
                margin-bottom: 0;
            } 
            
            p {
                font-size: 16px;
            }
    
            button {
                font-size: .9rem;
                width: 35%;
                padding:10px;
                float: auto;
                margin-top: 80px;
            }
            
        }

        span.carousel-control-prev-icon {
            margin-left: 0px;
        }
    
        span.carousel-control-next-icon{
            margin-right: 0px;
        }
    
    }
    
}

